@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
    font-family:'Shadows Into Light', cursive;
    font-size: 25px;
}

body {
    background-color: #121316;
    color: #fff;
}


.rawUserInputHtml {
    font-size: 15px;
    position: relative;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
}