
body {
    margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
    background-image: url(/Assets/img/bg.png);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 7s ease infinite;
    -ms-animation: gradientBG 7s ease infinite;
    animation: gradientBG 7s ease infinite;    
}

.center {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.home1 {
  visibility: hidden;
}

.home2 {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-shadow: 0px 0px 10px #000;
}
.home3 {
  visibility: hidden;
  text-shadow: 0px 0px 10px #000;
  font-size: 40px;
}

.home4 {
  visibility: hidden;
  animation: rainbow 8s infinite ease;
  font-size: 40px;
}

.home5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0px 0px 15px #000;
  padding: 0px;
  margin: 0px;
}
.astraeffect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
}
.up {
  transform: translateY(-10px);
}
.down {
  transform: translateY(15px);
}
.skew {
  transform: skewX(20deg);
}
.skew2 {
  transform: skewX(-20deg);
}


.flipped {
  transform: rotateY(180deg);
}

h1 {
    text-align: center;
}
h2 {
    padding-left: 5px;
}

.cron {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    transform: translate(-50%, -30%);
    left: 50%;
    top: 50%;
    text-overflow: none;
    
}

.addPad {
    padding-top: 10px;
}

.link {
    color: #c282ec;
    font-size: 20px;
    background-color: #ffffff00;
    border-radius: 7px;
    border-color: #9a05df;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.link:hover {
    animation: shadow 0.5s forwards;
}

.Ahhh_Saturn {
  text-align: center;
  font-size: 40px;
  
}

.btn-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn {
  align-self: center;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  color: #b9b8b9;
  background-color: #8911ec;
  border-color: #6931c2;
}

.navbar {
    position: sticky;
    background-color: #1c1c1c70;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-item {
    color: #c282ec;
    background-color: #ffffff00;
    border-radius: 7px;
    border-color: #9a05df;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-item:hover {
    animation: shadow 0.5s forwards;
}

.currentPage {
    border-color: #8734f3; 
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-image {
    width: 50%;
    height: auto;
    padding-top: 10px;
    margin-bottom: 10px;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-desc {
    margin-left: 50px;
}

.stan {
  padding-top: 130px;
    text-align: center;
}

@keyframes rainbow {
    0% {
        text-shadow: 0px 0px 40px #f00;
    }
    25% {
		text-shadow: 0px 0px 40px #ff0;
  }
    50% {
		text-shadow: 0px 0px 40px #0f0;
    }
    75% {
		text-shadow: 0px 0px 40px #00f;
    }
	100% {
		text-shadow: 0px 0px 40px rgb(121, 11, 172);
	}
}

@keyframes shadow {
    100% {
        box-shadow: 0px 0px 10px #000000;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-ms-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  